In [54]:
def two_sum(array, target):
  left  = 0
  right = len(array) - 1

  while (left < right):
    sum = array[left] + array[right]
    if sum == target:
      return left, right
    elif sum > target:
      right -= 1
    else:
      left += 1
  return None

result = two_sum([3, 8, 9 ,11, 16, 18, 19, 21], 25)
print (result)

(2, 4)

In [55]:
def reverse_array(array):
  left  = 0
  right = len(array) - 1

  while left < right:

    array[left], array[right] = array[right], array[left]
    left += 1
    right -= 1

  return array

result = reverse_array([3, 8, 9 ,11, 16, 18, 19, 21])
print (result)

[21, 19, 18, 16, 11, 9, 8, 3]

In [56]:
def reverse_part_array(array, k):
  n = len(array)
  array = array[k % (n-1):] + array[:k % (n-1)]
  return array

result = reverse_part_array([1, 2, 3, 4, 5, 6, 7, 8], 25)
print (result)

[5, 6, 7, 8, 1, 2, 3, 4]

In [57]:
def merge_two_array(arr1, arr2):
  merged_array = []
  i = 0
  j = 0

  while i < len(arr1) and j < len(arr2):
    if arr1[i] < arr2[j]:
      merged_array.append(arr1[i])
      i += 1
    else:
      merged_array.append(arr2[j])
      j += 1

  merged_array.extend(arr1[i:])
  merged_array.extend(arr2[j:])

  return merged_array

result = merge_two_array([-1, 4, 7, 20, 34, 83], [-8, -1, 0, 25])
print (result)

[-8, -1, -1, 0, 4, 7, 20, 25, 34, 83]

In [58]:
def sorted_array_zero_one(array):
  left = 0
  right = len(array)-1

  while left < right:
    if array[left] == 1:
      array[left], array[right] = array[right], array[left]
      right-=1
    else:
      left += 1
  return array


result = sorted_array_zero_one([0, 1, 1, 0, 1, 0, 1, 0])
print (result)

[0, 0, 0, 0, 1, 1, 1, 1]

In [59]:
def Netherlands (array):
  low = 0
  mid = 0
  hight = len(array)-1

  while mid <= hight:
    if array[mid] == 0:
      array[low], array[mid] = array[mid], array[low]
      low += 1
      mid += 1
    elif array[mid] == 1:
      mid +=1
    else:
      array[mid], array[hight] = array[hight], array[mid]
      hight -= 1
  return array

result = Netherlands([2, 1, 1, 0, 2, 0, 1, 2])
print (result)

[0, 0, 1, 1, 1, 2, 2, 2]

In [50]:
def even_first(array):
    even_index = 0

    for i in range(len(array)):
        if array[i] % 2 == 0:
            temp = array[i]
            for j in range(i, even_index, -1):
                array[j] = array[j - 1]
            array[even_index] = temp
            even_index += 1

    return array

result = even_first([3, 2, 4, 1, 11, 8, 9])
print(result)

[2, 4, 8, 3, 1, 11, 9]

In [51]:
def zeros_to_end(grades):
    non_zero_index = 0

    for i in range(len(grades)):
        if grades[i] != 0:
            grades[non_zero_index] = grades[i]
            non_zero_index += 1

    for i in range(non_zero_index, len(grades)):
        grades[i] = 0

    return grades

result = zeros_to_end([5, 0, 3, 0, 8, 0, 10, 7, 0])
print(result)

[5, 3, 8, 10, 7, 0, 0, 0, 0]